*
    {
    margin: 0;
    padding: 0;
    border: 0;
}

body
    {
    font: 100%  sans-serif;
    color: #000000;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    background: #3399ff;
}

ul li {
    background: #cce5ff;
    margin: 5px;
    padding: 5px;
}
