<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unofficial UKC FitClub Indexing Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{main.css}" />
</head>
<body>
    <div id="header" th:fragment="header">
        <h1 id="main-title">Unofficial UKC FitClub Indexing Service</h1>
        <h4 id="hosted-by">Hosted by <a href="https://www.ukclimbing.com/user/profile.php?id=190735">guy127917</a></h4>
    </div>
</body>
</html>