<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" th:href="@{main.css}" />
</head>
<body>
<div th:replace="header :: header"></div>
<div class="main-content">
<h2>Week <span th:text="${week.id}" /></h2>
<h3>Posted on <span th:text="${week.postDate}" /> by <span th:text="${week.postedBy}"/> </h3>
<ul>
    <li th:each="post : ${week.posts}">
        <span class="post" th:text="${post.username}" />
    </li>
</ul>
</div>
</body>
</html>